name: Continuous Integration

on: push

jobs:
  build-app:
    name: Build app
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install packages
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Bundle
        if: ${{ matrix.node-version == 20 }}
        run: npm run bundle

  build-redis-stunnel:
    name: Build redis-stunnel Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          push: false
          tags: osrecki/redis-stunnel:latest
